/* ---------- General ---------- */
/* ----------------------------- */

:root {
    --light-color: #FFFFFF;
    --purple-color: #8635FD;
    --font-general: 'Inter';
    --font-jenny: 'Sora';
    --font-sonsie: 'Sonsie';
    --dark-color: #1D1E25; /*Except the 5.0, Learn more button and Log in now*/
    --grey-color: #7E8492;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sonsie';
    src: url('Fonts/Sonsie/SonsieOne-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Sora';
    src: url('Fonts/Sora/Sora-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
    font-weight: 350;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter_18pt-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter_18pt-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('Fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
}

body {
    font-family: var(--font-general);
    background-color: var(--light-color);
    color: var(--dark-color);
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    padding: 0rem 1.3rem;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ---------- Header ---------- */
/* ---------------------------- */

.top-bar { /*Light*/
    background-color: var(--purple-color);
    color: var(--light-color);
    font-size: 0.77rem;
    white-space: nowrap;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    padding: 0.5rem 0rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

#logo {
    max-width: 7.2rem;
    align-self: center;
}

.menu-desktop {
    display: none;
}

.menu-toggle { /*It's more up than his, tried to fix but have to check*/
    background: none;
    border: none;
    padding-top: 0.5rem;
}

/* ---------- Hero ---------- */
/* -------------------------- */

.modern-system { /*It's different, come back later, it's more up than his, tried to fix but have to check*/
    display: flex;
    flex-direction: row;
    background-color: rgba(134, 53, 253, 0.08);
    color: var(--purple-color);
    margin: 4.2rem 0rem 1rem 1.3rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
    border-radius: 6.25rem;
    width: 11.3rem;
    justify-content: flex-start;
}

.modern-system p { /*Bold*/
    font-size: 0.8rem;
    align-self: center;
    font-weight: 400;
}

.modern-system img { /*Flower more up*/
    width: 1.12rem;
    padding-left: 0.2rem;
}

h1 {
    font-size: 2.25rem;
    color: var(--dark-color);
    margin: 1.3rem 1.3rem 0rem 1.3rem;
    font-weight: 600;
}

/*Here I'm trying myself to make the arrow with a div, but I'm almost giving up and take the full image*/
/*I gave it up, maybe come back later*/

.arrow { /*I don't think it's necessary a position absolute here, but I need to continue, come back later*/
    width: 3.5rem;
    position: absolute;
    margin-top: 0.6rem;
}

.sub-heading {
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 1.3rem;
}

.optimize {
    padding-left: 4rem;
    color: var(--grey-color);
    font-weight: 500;
    line-height: 1.65rem;
    margin-top: -0.65rem;
}

.heading {
    background-image: url(Images/gradient-blue.png);
    background-repeat: no-repeat;
    background-position: 0% 48.5%;
    background-attachment: absolute;
}

.start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FAFBFA;
    margin: 1rem 1.3rem 0rem 1.3rem;
    padding: 1.1rem 0.7rem;
    align-items: center;
    border-radius: 6.25rem;
}

.enter-your-email {
    font-weight: 500;
}

#start-free {
    background-color: var(--purple-color);
    color: var(--light-color);
    border: none;
    border-radius: 6.25rem;
    padding: 0.6rem 1rem;
    font-weight: 600;
    font-family: 'Inter';
    align-self: center;
    text-align: center;
    letter-spacing: 0.04rem;
}

.already-account {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 0.3rem;
    margin-left: 1.3rem;
    margin-top: 0.5rem;
}

.already {
    color: var(--grey-color);
    font-size: 0.9rem;
}

.log {
    color: #000000;
    font-weight: 500;
}

.sales-report {
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    padding: 1.3rem;
    margin: 2.5rem 1.3rem 0rem 1.3rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 20px rgba(89, 96, 135, 0.2);
}

.product, .competitor, .label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product img, .competitor img {
    height: 0.5rem;
}

.sales-report h4 {
    padding-bottom: 1rem;
    font-size: 1.18rem;
    margin-top: -0.2rem;
}

.sales-report p {
    font-size: 0.7rem;
}

.label {
    padding-bottom: 1rem;
    gap: 3.5rem;
}

.product, .competitor {
    gap: 0.5rem;
}

.hero {
    background-image: url(Images/gradient-purvple.png);
    background-repeat: no-repeat;
    background-position: 100% 59%;
    background-attachment: absolute;
}

.sales-data {
    display: flex;
    flex-direction: row;
    background-color: var(--purple-color);
    padding: 1.1rem 1.5rem;
    margin: 1.3rem 1.3rem 3rem 1.3rem;
    border-radius: 0.5rem;
    color: var(--light-color);
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 20px rgba(89, 96, 135, 0.2);
}

.sales-arrow, .marketing-arrow {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.sales-arrow p, .marketing-arrow p {
    font-weight: 200;
    font-size: 0.7rem;
    gap: 8rem;
}

.sales .price, .marketing .price {
    font-weight: 600;
    align-items: center;
    padding-bottom: 0.5rem;
}

.sales .title, .marketing .title {
    font-weight: 350;
    font-size: 0.7rem;
    padding-bottom: 0.3rem;
}

.sales-data span {
    font-weight: 400;
    color: #60D39C;
}

.sales img, .marketing img {
    height: 0.7rem;
    width: 0.7rem;
    align-self: center;
}

/* ---------- Advantages ---------- */
/* -------------------------------- */

.advantages {
    background-color: #070127;
    color: var(--light-color);
    margin-top: 3.5rem;
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

.advantages h2 {
    font-size: 2rem;
    font-weight: 500;
    padding: 0rem 1.3rem;
}

.introduction-advantages p {
    padding: 1rem 1.3rem;
    line-height: 1.6rem;
    color: #EDEDED;
    letter-spacing: 0.01rem;
}

#get-started {
    margin: 1.4rem 1.3rem;
    padding: 1rem 3.3rem;
    font-size: 1rem;
    border-radius: 6.25rem;
    color: var(--purple-color);
    font-weight: 700;
    font-family: 'Inter';
}

.cards-advantages .card { 
    /*The letters aren't going right, check this later*/
    background-color: var(--purple-color);
    font-weight: 500;
    margin: 1rem 1.3rem;
    padding: 1.5rem 2.3rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    letter-spacing: 0.03rem;
    flex-wrap: wrap;
    line-height: 1.38rem;
}

.cards-advantages {
    gap: 1.3rem;
}

.cards-advantages .card .icon {
    background-color: var(--light-color);
    border-radius: 6.25rem;
    width: 2.5rem;
    height: 2.5rem;
}

.card .world, .card .money {
    padding: 0.5rem;
}

.card .craft {
    padding: 0.2rem;
}

/* ---------- First-Sale ---------- */
/* -------------------------------- */

.first-sale {
    padding-top: 3.5rem;
    background-color: #F8FAFC;
}

.cards-first-sale .card {
    margin: 0rem 1.3rem;
    padding: 1.5rem 1rem;
    background-color: var(--light-color);
}

.cards-first-sale {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding-bottom: 4rem;
}

.image-data {
    background-color: #CFC2F8;
    padding: 0.8rem 0.8rem 0rem 0.8rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin-bottom: 2.5rem;
}

.real-time .card-info h3 {
    font-size: 1.45rem;
}

.real-time .card-info p {
    font-size: 0.9rem;
    padding-top: 1.1rem;
    line-height: 1.33rem;
    color: var(--grey-color)#;
}

.make-first-sale { /*Não está negrito*/
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1.13rem;
    border: none;
    background-color: var(--purple-color);
    border-radius: 6.25rem;
    color: var(--light-color);
    font-size: 1rem;
    letter-spacing: 0.06rem;
    font-weight: 500;
}

.image-payment {
    background-color: #D0C3F9;
    padding: 0.8rem 0.8rem 0rem 0.8rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin-bottom: 3.2rem;
}

.payment .card-info h3 {
    font-size: 1.45rem;
    line-height: 1.9rem;
    letter-spacing: 0.009rem;
}

.payment .card-info ul li {
    font-size: 1.1rem;
    padding-top: 1.8rem;
    margin-left: 1.75rem;
    line-height: 0.2rem;
    letter-spacing: 0.03rem;
    padding-bottom: 0.4rem;
}

.image-system {
    background-color: #D0C3F9;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin-bottom: 1.9rem;
}

.system .card-info h3 {
    font-size: 1.45rem;
    line-height: 1.9rem;
    letter-spacing: 0.009rem;
}

.system .card-info ul li {
    font-size: 1.1rem;
    padding-top: 2rem;
    margin-left: 1.75rem;
    line-height: 0rem;
    letter-spacing: 0.03rem;
    padding-bottom: 0.55rem;
}

.last {
    margin-bottom: 1rem;
}

/* ---------- Client-Avaliation ---------- */
/* --------------------------------------- */

.client-avaliation {
    background-color: var(--light-color);
    padding: 4rem 0rem 2rem 0rem;
}

.title-and-sub h2 {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.01rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
}

.title-and-sub p {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-size: 1rem;
    color: var(--grey-color);
    line-height: 1.6rem;
    margin-bottom: 2.36rem;
}

.avaliation {
    padding: 0rem 1.3rem;
    text-align: center;
}

.avaliation img {
    width: 22rem;
    height: 21rem;
    border-radius: 50%;
    margin: 0 auto 1.5rem;
}

.stars-avaliation {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
    max-width: 50%;
    max-height: 10%;
}

.stars-avaliation img {
    width: 3rem;
    height: 1.5rem;
}

.stars-avaliation p {
    font-weight: 600;
    margin-left: 0.5rem;
}

.review h4 {
    margin-top: -0.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.03rem;
    line-height: 1.9rem;
    margin-bottom: 1.9rem;
    padding-right: 0.1rem;
    justify-content: flex-start;
    text-align: left;
    color: var(--dark-color);
}

.review p {
    display: flex;
    justify-content: flex-start;
}

.jenny {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 0.7rem;
}

.sonsie {
    font-style: italic;
    margin-bottom: 1.9rem;
    font-family: 'Sonsie';
    color: var(--grey-color);
    text-align: start;
    font-size: 0.8rem;
}

.people {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: -0.4rem;
}

.people .client {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

.people .client-arrow {
    width: 3rem;
    height: 3rem;
}

/* ---------- Plans ---------- */
/* --------------------------- */

.pricing {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3.6rem;
    background-color: #F8FAFC;
}

.pricing h2 {
    margin-top: 1rem;
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}

.pricing p {
    letter-spacing: 0.02rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    line-height: 1.5rem;
}

.sub-pricing {
    color: var(--grey-color);
}

.pricing button {
    margin-top: 2.5rem;
    justify-content: center;
}

.pricing .chat-sales, .pricing .get-started {
    padding: 0.9rem 1.4rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter';
    border-radius: 6.25rem;
    letter-spacing: 0.02rem;
}

.pricing .chat-sales {
    border-color: #EDEDED;
    border: 1px solid #EDEDED;
    background: none;
    margin-bottom: 2.5rem;
}

.pricing .get-started {
    margin-bottom: 2.5rem;
    background-color: var(--purple-color);
    color: var(--light-color)
}

.pricing-button {
    display: flex;
    flex-direction: row;
    margin-left: 2.4rem;
    margin-right: 2.2rem;
    gap: 1rem;
}

.cards-pricing {
    background-color: var(--light-color);
}

.ten {
    padding-top: 2.3rem;
    margin: 2.5rem 1.3rem 1.5rem 1.3rem;
    border-color: #EDEDED;
    border: 1px solid #EDEDED;
    border-radius: 1rem;
    justify-items: center;
    text-align: center;
}

.card-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

.ten .card-top .card-title-basic {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
    background-color: #FAFBFA;
    padding: 0.3rem 0.6rem;
    max-width: 7rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    border-radius: 1rem;
}

.ten .card-top h3 {
    font-size: 2.9rem;
    margin-bottom: 0.8rem;
}

.ten .card-top p:not(.card-title-basic) {
    font-size: 1rem;
    margin-bottom: 1.05rem;
}

.card-top .chat-sales, .card-top .get-started {
    padding: 0.9rem 5.2rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter';
    border-radius: 6.25rem;
    letter-spacing: 0.02rem;
}

.card-top .chat-sales {
    border-color: #EDEDED;
    border: 1px solid #EDEDED;
    background: none;
    margin-bottom: 2rem;
}

.card-top .get-started {
    margin-bottom: 0.6rem;
    background-color: var(--purple-color);
    color: var(--light-color);
}

.card-divisor {
    margin-bottom: 2.1rem;
    padding: 0.01rem 1rem;
    width: 17rem;
    background-color: #EDEDED;
}

.ten .card-bottom {
    margin-left: -0.5rem;
    max-width: 16rem;
    margin-bottom: 2.5rem;
}

.card-bottom .card-option {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    align-items: center;
    margin-bottom: 1.25rem;
}

.card-option p {
    text-align: start;
    line-height: 1.3rem;
    letter-spacing: 0.01rem;
}

.card-option img {
    align-self: start;
}

.twenty {
    padding-top: 2.5rem;
    margin: 1.5rem 1.3rem 1.5rem 1.3rem;
    border-color: #EDEDED;
    border: 1px solid #EDEDED;
    border-radius: 1rem;
    justify-items: center;
    text-align: center;
}

.twenty .card-top .card-title-business {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
    background-color: #FAFBFA;
    padding: 0.3rem 0.6rem;
    max-width: 7rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    border-radius: 1rem;
}

.twenty .card-top h3 {
    font-size: 2.9rem;
    margin-bottom: 0.8rem;
}

.twenty .card-top p:not(.card-title-business) {
    font-size: 1rem;
    margin-bottom: 1.05rem;
}

.twenty .card-bottom {
    margin-left: -0.5rem;
    max-width: 16rem;
    margin-bottom: 2.5rem;
}

.fourty {
    padding-top: 2.5rem;
    margin: 1.5rem 1.3rem 3.5rem 1.3rem;
    border-color: #EDEDED;
    border: 1px solid #EDEDED;
    border-radius: 1rem;
    justify-items: center;
    text-align: center;
}

.fourty .card-top .card-title-enterprise {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
    background-color: #FAFBFA;
    padding: 0.3rem 0.6rem;
    max-width: 9rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    border-radius: 1rem;
}

.fourty .card-top h3 {
    font-size: 2.9rem;
    margin-bottom: 0.8rem;
}

.fourty .card-top p:not(.card-title-enterprise) {
    font-size: 1rem;
    margin-bottom: 1.25rem;
    max-width: 17rem;
}

.fourty .card-bottom {
    margin-left: -0.5rem;
    max-width: 16rem;
    margin-bottom: 2.5rem;
}

/* ---------- 30-day ---------- */
/* ---------------------------- */

.day-30 {
    padding-left: 1.3rem;
    background-color: var(--purple-color);
    color: var(--light-color)
}

.text-30 h4 {
    padding-top: 4.2rem;
    font-size: 1.8rem;
    letter-spacing: 0.07rem;
    line-height: 2.3rem;
    margin-bottom: 1.2rem;
    font-weight: 500;
}

.text-30 p {
    font-size: 1.3rem;
    letter-spacing: 0.015rem;
    line-height: 1.8rem;
    margin-bottom: 1.95rem;
    font-weight: 200;
}

.button-30 button {
    padding: 0.85rem 1.35rem;
    font-size: 1rem;
    font-family: 'Inter';
    text-align: center;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 4rem;
}

.button-30 .learn-more {
    margin-right: 0.5rem;
}

.button-30 .get-started {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* ---------- Footer ---------- */
/* ---------------------------- */

footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}

nav ul li a {
    font-style: none;
    text-decoration: none;
    list-style: none;
    color: var(--light-color);
}

ul {
    list-style: none;
} 

.secondary-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0.5rem;
    padding-left: 1.3rem;
    font-size: 0.9rem;
}

.help, .links {
    padding-left: 0.9rem;
}

.secondary-navigation ul li {
    line-height: 2.5rem;
}

.secondary-navigation {
    max-height: 28rem;
    margin-bottom: 1.7rem;
}

.divisor {
    margin-bottom: 2.1rem;
    padding: 0.01rem 1rem;
    width: 21rem;
    background-color: var(--grey-color);
    justify-self: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    justify-content: center;
    gap: 1.52rem;
}

.ul {
    display: flex;
    flex-direction: row;
    margin-top: 1.8rem;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

.utility-content span {
    text-align: center;
    display: block;
    margin-top: 1.7rem;
    padding-bottom: 2.5rem;
    font-size: 0.9rem;
}

@media (min-width: 1440px) {

    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
    }

    .menu-desktop ul {
        text-decoration: none;
        font-style: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-top: 0.3rem;
        gap: 2.1rem;
        padding-top: 0rem;
        align-items: center;
    }

    .menu-desktop ul li a {
        color: var(--dark-color);
    }

    .menu-desktop button, .menu-desktop a {
        background: none;
        border: none;
        text-decoration: none;
        font-style: none;
        list-style: none;
        color: var(--dark-color);
    }

    #sign-in {
        margin-right: -7.4rem;
        font-size: 1rem;
        letter-spacing: 0.01rem;
    }

    #sign-up {
        background: none;
        border-color: #EDEDED;
        border: 1px solid #EDEDED;
        border-radius: 6.25rem;
        padding: 1.1rem 1.7rem;
        font-size: 1rem;
    }

    .main-menu {
        display: flex;
        text-align: center;
        justify-items: center;
        align-items: center;
    }

    .header {
        margin-top: 1.7rem;
        padding: 0rem 7.5rem;
    }

    .menu-desktop {
        display: flex;
        flex-direction: row;
        gap: 8.5rem;
    }

    #logo {
        max-width: 14rem;
        justify-self: center;
        align-self: center;
    }

    .modern-system {
        margin-left: 5rem;
        margin-top: 5rem;
        width: 15.5rem;
        height: 2.8rem;
    }

    .modern-system p {
        font-size: 1.1rem;
        letter-spacing: 0.01rem;
    }

    .modern-system img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .content-hero {
        max-width: 61%;
    }

    h1 {
        margin-top: 0.3rem;
        margin-left: 5rem;
        font-size: 4.5rem;
        letter-spacing: 0.08rem;
    }

    .sub-heading .arrow {
        margin-left: 3.45rem;
        margin-top: 0.2rem;
        width: 5.5rem;
    }

    .sub-heading {
        display: flex;
        flex-direction: row;
    }

    .arrow img {
        height: 6.2rem;
    }

    .optimize {
        margin-left: 6rem;
        margin-top: 2.5rem;
        padding-right: 6rem;
        letter-spacing: 0.07rem;
        line-height: 1.9rem;
    }

    .start {
        display: flex;
        flex-direction: row;
        justify-self: flex-end;
        margin-right: 5rem;
        margin-top: 2.95rem;
        width: 65%;
    }

    .enter-your-email {
        margin-left: 0.5rem;
        font-size: 1.1rem;
        letter-spacing: 0.02rem;
    }

    #start-free {
        padding: 0.98rem 1.5rem;
        margin-right: 0.8rem;
        font-size: 0.9rem;
    }

    .already-account {
        display: flex;
        flex-direction: row;
        justify-self: flex-end;
        margin-top: 1rem;
        width: 74.5%;
    }

    .flex-hero {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .sale-hero {
        margin-left: 2.5rem;
    }

    .sales-report {
        margin-top: 0.5rem;
    }

    .sales-report h4 {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .sales-report img {
        margin-left: 0.4rem;
    }

    .label {
        gap: 4.7rem;
        padding-bottom: 1.3rem;
    }

    .label img {
        width: 0.8rem;
        height: 0.6rem;
    }

    .label p {
        font-size: 0.8rem;
        letter-spacing: 0.02rem;
    }

    .sales-data {
        margin-top: 1rem;
        padding: 1.45rem 1.7rem;
        gap: 0rem;
    }

    .sales .title, .marketing .title {
        font-size: 0.875rem;
        padding-bottom: 0.5rem;
    }

    .hero {
        padding-bottom: 0rem;
    }

    .advantages {
        margin-top: 5.2rem;
    }

    .introduction-advantages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5.5rem;
    }

    .introduction-advantages div h2 {
        font-size: 3rem;
        margin-top: 1.7rem;
    }

    .cards-advantages {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 2.5rem 5.7rem 1.5rem 5.7rem;
    }

    .first-sale {
        margin-bottom: 0rem;
        padding-bottom: 0rem;
    }

    .first-sale, .cards-first-sale {
        display: flex;
        flex-direction: column;
    }

    .cards-first-sale {
        margin: 3.4rem 5.8rem 2rem 5.8rem;
        gap: 4.5rem;
    }

    .card-image {
        max-width: 50%;
        width: 50rem;
        margin-left: 2rem;
        margin-top: 1.5rem;
    }

    .image-data {
        padding: 1.5rem 1.5rem 0rem 1.5rem;
        border-radius: 1rem;
    }

    .card-info {
        margin-top: 1.5rem;
        padding-left: 1.05rem;
        padding-right: 4rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 50%;
    }

    .card-info .info-text h3 {
        font-size: 3rem;
        letter-spacing: 0.04rem;
        line-height: 3.125rem;
    }

    .card .info-text p {
        font-size: 1.25rem;
        letter-spacing: 0.02rem;
        padding-right: 3rem;
        padding-top: 1.1rem;
        line-height: 1.625rem;
    }

    .info-button {
        margin-top: 1rem;
    }

    .cards-first-sale .card {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 0rem;
    }

    .title-and-sub {
        display: flex;
        flex-direction: row;
        margin-left: 5.8rem;
        margin-top: 1.4rem;
        gap: 2rem;
    }

    .title-and-sub h2 {
        max-width: 50%;
        font-size: 3.5rem;
        letter-spacing: 0.055rem;
        line-height: 4.3rem;
    }

    .title-and-sub p {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 2rem;
        padding: 1.3rem 7rem 0rem 7.5rem;
        max-width: 50%;
        letter-spacing: 0.01rem;
    }

    .avaliation {
        display: flex;
        flex-direction: row;
        margin: 2.2rem 5.8rem -0.5rem 5.8rem;
    }

    .avaliation .image-review {
        max-width: 50%;
    }

    .avaliation .review {
        max-width: 58%;
        padding-left: 4.2rem;
    }

    .avaliation div img {
        width: 26.5rem;
        height: 26.5rem;
    }

    .stars-avaliation img {
        max-width: 1.5rem;
        max-height: 1.5rem;
        gap: 0rem;
    }

    .stars-avaliation {
        justify-self: start;
        gap: 0.3rem;
    }

    .stars-avaliation p {
        margin: 0rem;
        padding: 0rem;
    }

    .pricing-button {
        align-self: center;
    }

    .cards-pricing {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;;
    }

    .review h4 {
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: -0.02rem;
    }

    .jenny {
        font-family: var(--font-jenny);
        font-size: 1.5rem;
        margin-top: -0.4rem;
        letter-spacing: 0.01rem;
    }

    .sonsie {
        font-size: 0.875rem;
    }

    .people img {
        margin: 0rem;
        padding: 0rem;
    }

    .people {
        justify-self: start;
        padding-left: 0.5rem;
        gap: 1rem;
    }

    .client-arrow {
        margin-left: 14rem;
    }

    .client-avaliation {
        padding-bottom: 7.7rem;
    }

    .pricing {
        margin-top: 3.5rem;
    }

    .pricing h2 {
        font-size: 3.5rem;
        margin-top: 0.6rem;
        letter-spacing: -0.03rem;
    }

    .sub-pricing {
        font-size: 1.125rem;
        margin-top: 0.3rem;
        letter-spacing: 0.03rem;
    }

    .cards-pricing .card {
        margin-top: 0rem;
        position: relative;
        max-width: 100%;
    }

    .cards-pricing {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #F8FAFC;
    }

    .exception-p {
    white-space: nowrap; 
    }

    .day-30 {
        margin: 0rem 7rem;
        width: 76rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        padding: 0rem 4rem;
        position: absolute;
    }

    .secondary-navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10rem;
        width: 100%;
        padding: 20rem 7rem 0rem 7rem;
    }

    .secondary-navigation .divisor {
        width: 77rem;
        padding: 0rem;
        margin: 0rem;
        min-width: 77rem;
    }

    .of-site {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        margin: 0rem 7rem;
        justify-content: space-between;
    }

    .utility-content {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .secondary-navigation {
        margin-bottom: 15rem;
        padding-bottom: 0rem;
    }


}